<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Instrumento" value="Mindray BC5000" />
		<add key="Imagen" value="descarga.jpg" />
		<add key="ConnectionMode" value="TCPCLIENT" /> <!--TCP/SERIAL/FILES/TCPCLIENT -->
		<add key="Protocol" value="HL7" /> <!--HL7/ASTM 1394/ASTM 1381 -->
		
		<add key="License" value="Y8rn63zvBJT0SOxjOZ2Hi2opW/8HRub6FyALG5hAh3Z9H78elQLZ0eh5qa7CQOtJ" /> <!--QUERO-->
		<add key="License" value="HleBk2nkopvTa+ScKHZoTbxQnNshuC0Z66EGlUTno3A+0pZpQ5lxXty5pM/4FXJa" /> <!--PELILEO-->
		<add key="License" value="qZ4u1/pR1PgYgeOUBZpOFjGjI7S4D6H2OrKbRhzSUYArmQ5ZdQSLlGiOsTSlysRDvFec89ScsMSZ5G3Ae3+4Mg==" /> <!--BAÑOS-->

		<add key="OrderField" value="ObservationRequest/FillerOrderNumber" />
		<add key="TestName" value="ObservationIdentifier/Manufacturer" />
		<add key="TestValue" value="DataMeasurement/Value" />

		<add key="ConnectionSetup" value="SERVER" /> <!--SERVER/LOCAL-->
		

		<add key="InstrumentIP" value="192.168.42.50"/>
		<add key="LocalPort" value="5001"/>

		<add key="COM" value="COM3"/>
		<add key="Bauds" value="9600"/>
		<add key="DataBits" value="8"/>

		<add key="SeparadorMuestra" value="-"/>
		<add key="MuestraPorDefecto" value="1"/> <!--Si tiene valor coloca el prefijo yyyymmdd000XX-9 a la orden, debe estar vacio generalmente-->

		<add key="ProcessFolder" value="c:\temporal\results"/>
		<add key="WorkListFolder" value="c:\temporal\worklist"/>
		<add key="ProcessedFolder" value="c:\temporal\results\old"/>



		<add key="ServerLISUAT" value="http://labatlas.uat.apps.ocp4mqa.grupodifare.com/gdifare/api/laboratorio/" />
		<add key="ServerLIS" value="https://apigateway.grupodifare.com:8443/gdifare/api/" />
		
		
		<add key="ServerSeguridad" value="apiseguridaddif.azurewebsites.net" />

	</appSettings>
</configuration>