<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>



		<add key="License" value="R/WW/Cr9jYMuWQ2zs7JnAjLe4X3d6JLFLligIEpz7XiTqVLtuuEFr+4K7cYXzhTG" />
		<add key="ServerLIS" value="https://testqa.grupodifare.com:8445/gdifare/api/" />
		<add key="ServerLISPROD" value="https://apigateway.grupodifare.com:8443/gdifare/api/" />
		
		
		

	</appSettings>
</configuration>