<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>



		<add key="License" value="sRAkKlokEH2LJYpTdAlmnU357/9hYvt0cOPpa29LKTUDOILkojmAfwqN4mhhVp5v" />
		<add key="ServerLISUAT" value="http://labatlas.uat.apps.ocp4mqa.grupodifare.com/gdifare/api/laboratorio/" />
		<add key="ServerLIS" value="https://apigateway.grupodifare.com:8443/gdifare/api/" />

		<add key="RutaReportes" value="C:\Reportes\" />
		
		
		

	</appSettings>
</configuration>