<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Instrumento" value="Mindray BC-20S" />
		<add key="Imagen" value="descarga.jpg" />
		<add key="ConnectionMode" value="TCPCLIENT" /> <!--TCP/SERIAL/FILES/TCPCLIENT -->
		<add key="Protocol" value="HL7" /> <!--HL7/ASTM 1394/ASTM 1381 -->
		
		<add key="License" value="xc1o2ZoWyEv13L/9O6N8bUgLfKvap+nZcOJCP4cUgrg84PkracsuDeGz9r1NOB2dV03akVAxof5YagdMBp2IEQ==" /> <!--TISALEO-->

		<add key="OrderField" value="ObservationRequest/FillerOrderNumber" />
		<add key="TestName" value="ObservationIdentifier/Manufacturer" />
		<add key="TestValue" value="DataMeasurement/Value" />

		<add key="ConnectionSetup" value="SERVER" /> <!--SERVER/LOCAL-->
		

		<add key="InstrumentIP" value="10.0.0.2"/>
		<add key="LocalPort" value="5100"/>

		<add key="COM" value="COM3"/>
		<add key="Bauds" value="9600"/>
		<add key="DataBits" value="8"/>

		<add key="SeparadorMuestra" value="-"/>
		<add key="MuestraPorDefecto" value="1"/> <!--Si tiene valor coloca el prefijo yyyymmdd000XX-9 a la orden, debe estar vacio generalmente-->

		<add key="ProcessFolder" value="c:\temporal\results"/>
		<add key="WorkListFolder" value="c:\temporal\worklist"/>
		<add key="ProcessedFolder" value="c:\temporal\results\old"/>



		<add key="ServerLISUAT" value="http://labatlas.uat.apps.ocp4mqa.grupodifare.com/gdifare/api/laboratorio/" />
		<add key="ServerLIS" value="https://apigateway.grupodifare.com:8443/gdifare/api/" />
		
		
		<add key="ServerSeguridad" value="apiseguridaddif.azurewebsites.net" />

	</appSettings>
</configuration>