<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="License" value="XnR3XJBjhVBxubyNwQ15fbNVFg2/dF/Jmzj0UKktfa775bZB4EButobSBZBswDyh" />

		<add key="ServerLISUAT" value="http://labatlas.uat.apps.ocp4mqa.grupodifare.com/gdifare/api/laboratorio/" />
		<add key="ServerLIS" value="https://apigateway.grupodifare.com:8443/gdifare/api/" />

		<add key="PrintMode" value="USB" />
		<!--TCP/USB -->

		<add key="PrinterName" value="ETIQUETAS" />
		<add key="PrinterIP" value="127.0.0.1" />

		<add key="SeparadorMuestra" value="-"/>
	
	</appSettings>
</configuration>