<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Instrumento" value="Beckman Coulter Access 2" />
		<add key="Imagen" value="descarga.jpg" />
		<add key="ConnectionMode" value="SERIAL" /> <!--TCP/SERIAL/FILES -->
		<add key="Protocol" value="ASTM 1394" /> <!--HL7/ASTM 1394/ASTM 1381 -->
		
		<add key="License" value="8e/smvNDqp7L1vMDjHznmvOpYc2irN7WzS+6/3kgFQYuUzr/kGIy6Dd1+vRv6RHX" />

		<add key="OrderField" value="SpecimenIdRecord/SpecimenId" />
		<add key="TestName" value="TestIdentifier/Manufacturer" />
		<add key="TestValue" value="DataMeasurement/Value" />

		<add key="ConnectionSetup" value="SERVER" /> <!--SERVER/LOCAL-->
		

		<add key="InstrumentIP" value="192.168.1.11"/>
		<add key="LocalPort" value="7009"/>

		<add key="COM" value="COM9"/>
		<add key="Bauds" value="9600"/>
		<add key="DataBits" value="8"/>

		<add key="SeparadorMuestra" value="-"/>


		<add key="ProcessFolder" value="c:\temporal\results"/>
		<add key="WorkListFolder" value="c:\temporal\worklist"/>
		<add key="ProcessedFolder" value="c:\temporal\results\old"/>



		<add key="ServerLISUAT" value="http://labatlas.uat.apps.ocp4mqa.grupodifare.com/gdifare/api/laboratorio/" />
		<add key="ServerLIS" value="https://apigateway.grupodifare.com:8443/gdifare/api/" />
		
		
		<add key="ServerSeguridad" value="apiseguridaddif.azurewebsites.net" />

	</appSettings>
</configuration>