<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Instrumento" value="HUMASTAR 100 200 300" />
		<add key="Imagen" value="descarga.jpg" />
		<add key="ConnectionMode" value="FILES" /> <!--TCP/SERIAL/FILES -->
		<add key="Protocol" value="ASTM 1394" /> <!--HL7/ASTM 1394/ASTM 1381 -->
		
		<add key="License" value="uaIRBGu0N1kAAP/KdqOE0TbSLG/pLQYmgZh649w4hfi9M0t1ajCxNwPWF2n8lgvO" />
		<add key="LicenseAngel" value="NPQ+KgijHCDgTqua3N84lxhayaV1T8bkJVffXohliEiGenLMt5KFquBULTQQxmcK" />

		<add key="OrderField" value="PatientName" />
		<add key="TestName" value="TestID" />
		<add key="TestValue" value="ResultStatus" />

		<add key="ConnectionSetup" value="SERVER" /> <!--SERVER/LOCAL-->
		

		<add key="InstrumentIP" value="192.168.1.11"/>
		<add key="LocalPort" value="5600"/>

		<add key="COM" value="COM5"/>
		<add key="Bauds" value="9600"/>
		<add key="DataBits" value="8"/>

		<add key="SeparadorMuestra" value="-"/>


		<add key="ProcessFolder" value="C:\Temporal\Results"/><!--RESULTADOS-->
		<add key="WorkListFolder" value="C:\Temporal\Worklist"/><!--HOJA DE TRABAJO-->
	
		

		<add key="ProcessedFolder" value="c:\temporal\results\old"/>



		<add key="ServerLISUAT" value="http://labatlas.uat.apps.ocp4mqa.grupodifare.com/gdifare/api/laboratorio/" />
		<add key="ServerLIS" value="https://apigateway.grupodifare.com:8443/gdifare/api/" />
		
		
		<add key="ServerSeguridad" value="apiseguridaddif.azurewebsites.net" />

	</appSettings>
</configuration>